
@{
    ViewData["Title"] = "Audit";
}

<style>
    ins {
        text-decoration: none;
        background-color: #d4fcbc;
    }

    del {
        text-decoration: line-through;
        background-color: #fbb6c2;
        color: #555;
    }
</style>

<script>
    var $table;

    $(function () {
        $table = $('#table');

        initTable();
    });

    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf']
        });
    }
    function statusFormatter(value, row, index) {
        if (value === "Deleted") {
            return '<span class="label label-danger">' + value + '</span>';
        } else if (value === "Added") {
            return '<span class="label label-success">' + value + '</span>';
        } else if (value === "Modified") {
            return '<span class="label label-warning">' + value + '</span>';
        } else {
            return '<span class="label label-default">' + value + '</span>';
        }
    }

    function jsonFormat(value) {
        if (value == "" || value == null) {
            return value;
        }

        var element = "<dl>";

        value = decodeHtml(value);
        $.each(JSON.parse(value), function (key, value) {
            element = element + "<dt>" + key + "</dt>"

            value = decodeHtml(value);
            if (value != "") {
                element = element + "<dd>" + value + "</dd>";
            } else {
                element = element + "";
            }
        });

        return element + "</dl>";
    }


    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }

    function diffFormatter(value, row, index) {
        var old = row.oldValues;
        if (row.oldValues == "" || row.oldValues == null) {
            old = "";
        }

        var newValue = row.newValues;
        if (row.newValues == "" || row.newValues == null) {
            newValue = "";
        }

        return htmldiff(jsonFormat(old), jsonFormat(newValue));
    }
</script>

<div class="page-header">
    <h1>Audit</h1>
</div>

<table id="table"
       data-pagination="true"
       data-show-export="true"
       data-search="true"
       data-mobile-responsive="false"
       data-check-on-init="true"
       data-id-field="id",
       data-show-toggle="true"
       data-show-refresh="true"
       data-auto-refresh="true"
       data-show-fullscreen="true"
       data-side-pagination="server"
       data-url="/Audit/GetAuditData">
    <thead>
        <tr>
            <th data-field="id" data-visible="false" class="fit">ID</th>
            <th data-field="dateTime" class="fit">Date</th>
            <th data-field="state" data-formatter="statusFormatter" class="fit">State</th>
            <th data-field="tableName" class="fit">Table Name</th>
            <th data-field="username" class="fit">Username</th>
            <th data-field="keyValues" data-formatter="jsonFormat" class="fit">Key Values</th>
            <th data-field="oldValues" data-formatter="jsonFormat" class="fit">Old Values</th>
            <th data-field="newValues" data-formatter="jsonFormat" class="fit">New Values</th>
            <th data-formatter="diffFormatter" class="fit">Difference</th>
        </tr>
    </thead>
</table>

