<script>
    var $table;
    var selections = [];

    $(function () {
        $table = $('#table');

        initTable();
    });

    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf']
        })
    }
</script>

<table id="table"
       data-pagination="true"
       data-show-export="true"
       data-search="true"
       data-mobile-responsive="true"
       data-check-on-init="true"
       data-id-field="id",
       data-editable-url="/Board/UpdateField?TableType=0"
       data-show-toggle="true"
       data-show-refresh="true"
       data-auto-refresh="true"
       data-show-fullscreen="true"
       data-side-pagination="server"
       data-url="/Board/GetTableData?TableType=0&BoardID=@ViewBag.BoardID">
    <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="date" data-editable="true" data-editable-type="combodate" data-editable-template="D MMM YYYY  HH:mm" data-editable-format="YYYY-MM-DD HH:mm" data-editable-viewformat="MMM D, YYYY, HH:mm">Date</th>
            <th data-field="who" data-editable="true">Who</th>
            <th data-field="what" data-editable="true">What</th>
            <th data-field="why" data-editable="true">Why</th>
        </tr>
    </thead>
</table>