<style>
    .dailyContainer {
        text-align: center;
    }
</style>

<div class="dailyContainer">
    <h1>Daily Performance Huddle</h1>
    <h2>Business Rules</h2>
    <br />
    <h4>
        <strong>THE PURPOSE:</strong> This daily performance huddle is focused on improvements, using the team's collective knowledge.   The huddle is designed to ensure daily communication and synthesis of unit improvement opportunities at various levels of progress.  This process is designed to engage staff in problem solving and making connections between the work and our goals.
    </h4>
</div>

