<script>
    $(document).ready(function () {
        $("#uploadButton").click(function (e) {
            if (e.target !== this)
                return;

            $("#uploadLabel").click();
        })

        $("#file").change(function () {
            $("#submitFile").click();
        });

        $.ajax({
                type: "POST",
                url: "/Board/GetListOfFiles",
                data: { BoardID: @ViewBag.BoardID, type: "scorecard" },
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var name = data[i];

                        var url = window.location.origin + "/Uploads/@ViewBag.BoardID/scorecard/" + name;

                        $(".row").append(`<div class="col-sm-6 col-md-4" data-file="${name}">
                                        <div class="thumbnail">
                                            <div class="caption text-center">
                                                <h3>${name}</h3>
                                                <br />
                                                <p><a href="#" class="btn btn-primary view-button" role="button" data-file="${name}">View</a> <a class="btn btn-default" role="button" href="${url}">Download</a> <a href="#" class="btn btn-danger delete-button" data-file="${name}" role="button">Delete</a></p>
                                            </div>
                                        </div>
                                    </div>`);
                    }
                },
                error: function (data) {
                }
        });

        var driverFile;
        var driverUrl;
        $('body').on('click', '.view-button', function () {
            driverFile = $(this).attr("data-file");
            driverUrl = window.location.origin + "/Uploads/@ViewBag.BoardID/scorecard/" + driverFile;

            $("#fileViewerBody").empty();
            $("#fileViewer").modal("show");
        });

        $('#fileViewer').on('shown.bs.modal', function (e) {
            if (driverFile.endsWith(".png") || driverFile.endsWith(".jpg")) {
                $("#fileViewerBody").append(`<img width='100%' height='100%' src='${driverUrl}'/>`);
            } else {
                driverUrl = encodeURIComponent(driverUrl);
                $("#fileViewerBody").append(`<iframe src='https://docs.google.com/gview?url=${driverUrl}&embedded=true' width='100%' height='100%' frameborder='0'></iframe>`);
            }
        });

        $('body').on('click', '.delete-button', function () {
            var file = $(this).attr("data-file");
            $.ajax({
                type: "POST",
                url: "/Board/DeleteFile",
                data: { BoardID: @ViewBag.BoardID, type: "scorecard", fileName: file },
                dataType: "json",
                success: function (data) {
                    $(`div[data-file='${file}']`).remove();

                    $.notify({
                        message: "Successfully deleted!"
                    }, {
                            type: 'success'
                    });
                },
                error: function (data) {
                    $.notify({
                        message: "No permission!"
                    }, {
                            type: 'danger'
                    });
                }
            });
        });
    });
</script>

<div class="page-header">
    <h1>Scorecards</h1>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption text-center">
                <h3>Upload File</h3>
                <br />
                <p></p>
                <form action="/Board/FileUpload" method="post" enctype="multipart/form-data">
                    <input type="text" name="type" class="inputfile" value="scorecard" required />
                    <input type="text" name="BoardID" class="inputfile" value="@ViewBag.BoardID" required />
                    <input type="text" name="TableType" class="inputfile" value="@ViewBag.TableType" required />
                    <input type="file" name="formFile" id="file" class="inputfile" required />
                    <button id="uploadButton" class="btn btn-primary" role="button"><label id="uploadLabel" for="file">Choose a file</label></button>
                    <button id="submitFile" type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="fileViewer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-full">

        <!-- Modal content-->
        <div class="modal-content modal-content-full">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">File Preview</h4>
            </div>
            <div id="fileViewerBody" class="modal-body modal-body-full viewer-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default viewer-refresh">Refresh</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>