<script>
    var $table;

    $(function () {
        $table = $('#table');

        // Set textare as summernote when textarea dynamically added.
        $.initialize("textarea", function () {
            if ($(this).hasClass("form-control") && $(this).hasClass("input-large")) {
                $(this).summernote();
            }
        });

        $("#selectionRemove").click(function () {
            var selections = $("table").bootstrapTable('getSelections');
            var ids = [];
            for (var i = 0; i < selections.length; i++) {
                ids.push(selections[i].id);
            }

            deleteFields(ids);
        });

        $("#confirmDelete").click(function () {
            $.ajax({
            type: "POST",
            url: "/Board/DeleteFields",
            data: {
                BoardID: @ViewBag.BoardID, TableType: 2, Delete: globalDeleteList },
                dataType: "json",
                success: function (data) {
                    $.notify({
                        message: 'Successfully deleted.'
                    }, {
                            type: 'success'
                    });

                    $table.bootstrapTable('remove', {
                        field: 'id',
                        values: globalDeleteList
                    });

                    $("#deleteModal").modal("hide");
                },
                error: function (data) {
                    var response = data.responseJSON;

                    $.notify({
                        message: response
                    }, {
                            type: 'danger'
                    });
                }
            });
        });

        // Make modal create fields editable
        $("#createSaftey").editable();
        $("#createName").editable();
        $("#createDate").editable();
        $("#createProblem").editable();
        $("#createEightWs").editable();
        $("#createStrategicGoals").editable();
        $("#createIsPtFamilyInvovlmentOpportunity").editable();
        $("#createPickChart").editable();
        $("#createDateAssigned").editable();
        $("#createStaffWorkingOnOpportunity").editable();
        $("#createWhy").editable();
        $("#createJustDoIt").editable();
        $("#createUpdates").editable();

        // Reset editables
        $('#reset').click(function () {
            $('.createable').editable('setValue', null)
                .editable('option', 'pk', null)
                .removeClass('editable-unsaved');
        });

        $("#createWIPForm").submit(function () {
            var createSaftey = $("#createSaftey").editable("getValue")["createSaftey"];
            var createName = $("#createName").editable("getValue")["createName"];
            var createDate = $("#createDate").editable("getValue")["createDate"];
            var createProblem = $("#createProblem").editable("getValue")["createProblem"];
            var createEightWs = $("#createEightWs").editable("getValue")["createEightWs"];
            var createStrategicGoals = $("#createStrategicGoals").editable("getValue")["createSaftey"];
            var createIsPtFamilyInvovlmentOpportunity = $("#createIsPtFamilyInvovlmentOpportunity").editable("getValue")["createIsPtFamilyInvovlmentOpportunity"];
            var createPickChart = $("#createPickChart").editable("getValue")["createPickChart"];
            var createDateAssigned = $("#createDateAssigned").editable("getValue")["createDateAssigned"];
            var createStaffWorkingOnOpportunity = $("#createStaffWorkingOnOpportunity").editable("getValue")["createStaffWorkingOnOpportunity"];
            var createWhy = $("#createWhy").editable("getValue")["createWhy"];
            var createJustDoIt = $("#createJustDoIt").editable("getValue")["createJustDoIt"];
            var createUpdates = $("#createUpdates").editable("getValue")["createUpdates"];

            if (typeof createDate == 'undefined') {
                $("#createDate").parent().append("<p id='createDateError' style='color: red'>This field is required!</p>")
                return false;
            } else {
                $("#createDateError").remove();
            }

            $.ajax({
                type: "POST",
                url: "/Board/AddWIP",
                data: {
                    BoardID: @ViewBag.BoardID, Saftey: createSaftey, Name: createName, Date: createDate, Problem: createProblem,
                    EightWs: createEightWs, StrategicGoals: createStrategicGoals,
                    IsPtFamilyInvovlmentOpportunity: createIsPtFamilyInvovlmentOpportunity,
                    PickChart: createPickChart,
                    DateAssigned: createDateAssigned,
                    StaffWorkingOnOpportunity: createStaffWorkingOnOpportunity,
                    Why: createWhy,
                    JustDoIt: createJustDoIt,
                    Updates: createUpdates
                },
                dataType: "json",
                success: function (data) {
                    $.notify({
                        message: 'Successfully created WIP.'
                    }, {
                            type: 'success'
                    });

                    location.reload();
                },
                error: function (data) {
                    var response = data.responseJSON;

                    $.notify({
                        message: response
                    }, {
                            type: 'danger'
                    });
                }
            });

            return false;
        });

        initTable();
    });

    function initTable() {
        // Triggered when delete is pressed in table row
        window.operateEvents = {
            'click .remove': function (e, value, row, index) {
                deleteFields([row.id]);
            }
        }

        $table.bootstrapTable('destroy').bootstrapTable({
            exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf']
        }).on('all.bs.table', function (e, name, args) {
            if (!@ViewBag.IsAdmin.ToString().ToLower()) {
                $('.editable').editable('option', 'disabled', true);
            }
        });
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="remove btn btn-danger" href="javascript:void(0)" title="Remove">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('')
    }

    var globalDeleteList;
    function deleteFields(list) {
        globalDeleteList = list;

        if (globalDeleteList.length > 0) {
            $("#deleteModal").modal("show");

            $("#deleteModalText").html("Are you sure you want to delete <strong>" + list.length + "</strong> records?");
        } else {
            $.notify({
                message: "No records selected to be deleted."
            }, {
                    type: 'danger'
                });
        }
    }
</script>

<div class="page-header">
    <h1>Work In Progress</h1>
</div>

<table id="table"
       data-pagination="true"
       data-show-export="true"
       data-search="true"
       data-mobile-responsive="true"
       data-check-on-init="true"
       data-id-field="id" ,
       data-editable-url="/Board/UpdateField?TableType=2"
       data-show-toggle="true"
       data-show-refresh="true"
       data-auto-refresh="true"
       data-show-fullscreen="true"
       data-side-pagination="server"
       data-maintain-selected="true"
       data-url="/Board/GetTableData?TableType=2&BoardID=@ViewBag.BoardID">
    <thead>
        <tr>
            @if (ViewBag.IsAdmin)
            {
                <th data-field="state" class="fit" data-checkbox="true"></th>
                <th data-field="id" class="fit" data-visible="false">ID</th>
                <th data-field="saftey" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Saftey</th>
                <th data-field="name" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Name</th>
                <th data-field="date" class="fit" data-editable="true" data-editable-type="combodate" data-editable-template="D MMM YYYY  HH:mm" data-editable-format="YYYY-MM-DD HH:mm" data-editable-viewformat="MMM D, YYYY, HH:mm">Date</th>
                <th data-field="problem" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Problem</th>
                <th data-field="eightWs" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">8 W's</th>
                <th data-field="strategicGoals" class="fit" data-editable="true" data-editable-type="checklist" data-editable-source="[{value: 0, text: 'Patients'}, {value: 1, text: 'People'}, {value: 2, text: 'Sustainability'}, {value: 3, text: 'Research, Innovation & Learning'}]">HHS Strategic Goals</th>
                <th data-field="isPtFamilyInvovlmentOpportunity" class="fit" data-editable="true" data-editable-type="select" data-editable-source="[{value: 0, text: 'No'}, {value: 1, text: 'Yes'}]">Pt/Family Invovlment Opportunity?</th>
                <th data-field="pickChart" class="fit" data-editable="true" data-editable-type="select" data-editable-source="[{value: 0, text: 'Implement'}, {value: 1, text: 'Challenge'}, {value: 2, text: 'Possible'}, {value: 3, text: 'Kibosh'}]">Pick Chart</th>
                <th data-field="dateAssigned" class="fit" data-editable="true" data-editable-type="combodate" data-editable-template="D MMM YYYY  HH:mm" data-editable-format="YYYY-MM-DD HH:mm" data-editable-viewformat="MMM D, YYYY, HH:mm">Date Assigned form Pick Chart</th>
                <th data-field="staffWorkingOnOpportunity" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Staff working on opportunity</th>
                <th data-field="why" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Why is this happening (the 5 Whys)?</th>
                <th data-field="justDoIt" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Just Do It / PDSA / Work Waiting</th>
                <th data-field="updates" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Update</th>
                <th data-field="dateModified" class="fit" data-editable="true" data-editable-type="combodate" data-editable-template="D MMM YYYY  HH:mm" data-editable-format="YYYY-MM-DD HH:mm" data-editable-viewformat="MMM D, YYYY, HH:mm">Last Updated</th>
                <th data-field="operate" class="fit" data-formatter="operateFormatter" data-events="operateEvents"></th>
            }
            else
            {
                <th data-field="id" class="fit" data-visible="false">ID</th>
                <th data-field="saftey" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Saftey</th>
                <th data-field="name" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Name</th>
                <th data-field="date" class="fit" data-editable="true" data-editable-type="combodate" data-editable-template="D MMM YYYY  HH:mm" data-editable-format="YYYY-MM-DD HH:mm" data-editable-viewformat="MMM D, YYYY, HH:mm">Date</th>
                <th data-field="problem" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Problem</th>
                <th data-field="eightWs" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">8 W's</th>
                <th data-field="strategicGoals" class="fit" data-editable="true" data-editable-type="checklist" data-editable-source="[{value: 0, text: 'Patients'}, {value: 1, text: 'People'}, {value: 2, text: 'Sustainability'}, {value: 3, text: 'Research, Innovation & Learning'}]">HHS Strategic Goals</th>
                <th data-field="isPtFamilyInvovlmentOpportunity" class="fit" data-editable="true" data-editable-type="select" data-editable-source="[{value: 0, text: 'No'}, {value: 1, text: 'Yes'}]">Pt/Family Invovlment Opportunity?</th>
                <th data-field="pickChart" class="fit" data-editable="true" data-editable-type="select" data-editable-source="[{value: 0, text: 'Implement'}, {value: 1, text: 'Challenge'}, {value: 2, text: 'Possible'}, {value: 3, text: 'Kibosh'}]">Pick Chart</th>
                <th data-field="dateAssigned" class="fit" data-editable="true" data-editable-type="combodate" data-editable-template="D MMM YYYY  HH:mm" data-editable-format="YYYY-MM-DD HH:mm" data-editable-viewformat="MMM D, YYYY, HH:mm">Date Assigned form Pick Chart</th>
                <th data-field="staffWorkingOnOpportunity" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Staff working on opportunity</th>
                <th data-field="why" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Why is this happening (the 5 Whys)?</th>
                <th data-field="justDoIt" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Just Do It / PDSA / Work Waiting</th>
                <th data-field="updates" class="fit" data-editable="true" data-editable-type="textarea" data-editable-escape="false" data-editable-onblur="ignore">Update</th>
                <th data-field="dateModified" class="fit" data-editable="true" data-editable-type="combodate" data-editable-template="D MMM YYYY  HH:mm" data-editable-format="YYYY-MM-DD HH:mm" data-editable-viewformat="MMM D, YYYY, HH:mm">Last Updated</th>
            }
        </tr>
    </thead>
</table>

<div id="newWIPModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <form id="createWIPForm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add WIP</h4>
                </div>

                <div class="modal-body">
                    <table id="createWIPTable" class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td>Saftey</td>
                                <td><a href="#" class="createable" id="createSaftey" data-type="textarea" data-name="createSaftey" data-original-title="Enter saftey" data-escape="false" data-onblur="ignore"></a></td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td><a href="#" class="createable" id="createName" data-type="textarea" data-name="createName" data-original-title="Enter name" data-escape="false" data-onblur="ignore"></a></td>
                            </tr>
                            <tr>
                                <td style="width: 1px; white-space: nowrap;">Date *</td>
                                <td><a href="#" class="createable" id="createDate" data-type="combodate" data-name="createDate" data-template="D MMM YYYY  HH:mm" data-format="YYYY-MM-DD HH:mm" data-viewformat="MMM D, YYYY, HH:mm" data-original-title="Enter date" data-onblur="ignore"></a></td>
                            </tr>
                            <tr>
                                <td>Problem</td>
                                <td><a href="#" class="createable" id="createProblem" data-type="textarea" data-name="createProblem" data-original-title="Enter problem" data-escape="false" data-onblur="ignore"></a></td>
                            </tr>
                            <tr>
                                <td>8 W's</td>
                                <td><a href="#" class="createable" id="createEightWs" data-type="textarea" data-name="createEightWs" data-original-title="Enter 8 W's" data-escape="false" data-onblur="ignore"></a></td>
                            </tr>
                            <tr>
                                <td>HHS Strategic Goals</td>
                                <td><a href="#" class="createable" id="createStrategicGoals" data-type="checklist" data-name="createStrategicGoals" data-original-title="Enter HHS strategic goals" data-source="[{value: 0, text: 'Patients'}, {value: 1, text: 'People'}, {value: 2, text: 'Sustainability'}, {value: 3, text: 'Research, Innovation & Learning'}]"></a></td>
                            </tr>
                            <tr>
                                <td>Pt/Family Invovlment Opportunity?</td>
                                <td><a href="#" class="createable" id="createIsPtFamilyInvovlmentOpportunity" data-type="select" data-name="createIsPtFamilyInvovlmentOpportunity" data-original-title="Enter Pt/Family Invovlment Opportunity" data-source="[{value: 0, text: 'No'}, {value: 1, text: 'Yes'}]"></a></td>
                            </tr>
                            <tr>
                                <td>Pick Chart</td>
                                <td><a href="#" class="createable" id="createPickChart" data-type="select" data-name="createPickChart" data-original-title="Enter pick chart" data-source="[{value: 0, text: 'Implement'}, {value: 1, text: 'Challenge'}, {value: 2, text: 'Possible'}, {value: 3, text: 'Kibosh'}]"></a></td>
                            </tr>
                            <tr>
                                <td style="width: 1px; white-space: nowrap;">Date Assigned</td>
                                <td><a href="#" class="createable" id="createDateAssigned" data-type="combodate" data-name="createDateAssigned" data-template="D MMM YYYY  HH:mm" data-format="YYYY-MM-DD HH:mm" data-viewformat="MMM D, YYYY, HH:mm" data-original-title="Select date assigned" data-onblur="ignore"></a></td>
                            </tr>
                            <tr>
                                <td>Staff Working on Opportunity</td>
                                <td><a href="#" class="createable" id="createStaffWorkingOnOpportunity" data-type="textarea" data-name="createStaffWorkingOnOpportunity" data-original-title="Enter staff working on opportunity" data-escape="false" data-onblur="ignore"></a></td>
                            </tr>
                            <tr>
                                <td>Why</td>
                                <td><a href="#" class="createable" id="createWhy" data-type="textarea" data-name="createWhy" data-original-title="Enter why" data-escape="false" data-onblur="ignore"></a></td>
                            </tr>
                            <tr>
                                <td>Just Do It / PDSA / Work Waiting</td>
                                <td><a href="#" class="createable" id="createJustDoIt" data-type="textarea" data-name="createJustDoIt" data-original-title="Enter Just Do It / PDSA / Work Waiting" data-escape="false" data-onblur="ignore"></a></td>
                            </tr>
                            <tr>
                                <td>Updates</td>
                                <td><a href="#" class="createable" id="createUpdates" data-type="textarea" data-name="createUpdates" data-original-title="Enter updates" data-escape="false" data-onblur="ignore"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="reset" type="button" class="btn btn-default">Reset</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure you want to delete?</h4>
            </div>
            <div class="modal-body">
                <p id="deleteModalText" style="text-align: center;">Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="confirmDelete" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.IsAdmin)
{
    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="fa fa-pen"></i>
        </a>
        <ul>
            <li>
                <a id="selectionRemove" class="btn-floating bg-indigo">
                    <i class="fa fa-trash"></i>
                </a>
            </li>
            <li>
                <a class="btn-floating bg-indigo" data-target="#newWIPModal" data-toggle="modal">
                    <i class="fa fa-plus"></i>
                </a>
            </li>
        </ul>
    </div>
}
