@model HHSBoard.Data.Board
@inject HHSBoard.Data.ApplicationDbContext applicationDbContext
@{
    ViewData["Title"] = "Index";
}

@if ((int)ViewBag.TableType == 0)
{
    var purpose = applicationDbContext.Purpose.SingleOrDefault(p => p.BoardID == Model.ID);
    @await Html.PartialAsync("_Purpose", purpose);
}
else if ((int)ViewBag.TableType == 1)
{
    @await Html.PartialAsync("_CelebrationTable");
}
else
{
    <h1>Error: No table type set.</h1>
}