@model HHSBoard.Data.Board
@{
    ViewData["Title"] = "Index";
}

@if ((int)ViewBag.TableType == 0)
{
    @await Html.PartialAsync("_Purpose");
}
else if ((int)ViewBag.TableType == 1)
{
    @await Html.PartialAsync("_CelebrationTable");
}
else
{
    <h1>Error: No table type set.</h1>
}